In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()

In [2]:
df_fuel_engine_type = pd.read_csv('C:\\Users\\Feranmi\\Desktop\\anaconda\\Data-visualization\\pie-chart-excel.csv')

In [3]:
df_fuel_engine_type

  Engine Fuel Type  Number of Cars
0           Diesel            2019
1              Gas             613
2            Other             154
3           Petrol            1559